{% extends 'core/base.html' %}

{% block title %}Definir Nova Senha{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8 bg-white p-10 rounded-xl shadow-lg">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Defina sua nova senha
      </h2>
    </div>
    {% if validlink %}
    <form class="mt-8 space-y-6" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Alterar minha senha
      </button>
    </form>
    {% else %}
    <p class="mt-4 text-center text-sm text-red-600">
      O link para redefinição de senha é inválido ou já foi utilizado. Por favor, solicite uma nova redefinição de senha.
    </p>
    <div class="mt-6">
        <a href="{% url 'core:password_reset' %}" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Solicitar novo link
        </a>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}